<div class="my-orders">
    <h1>My Courses</h1>
    <div class="row">
        <div class="col-sm-2">
            <span>Course</span>
        </div>
        <div class="col-sm-2">
            <span>Price</span>
        </div>
        <div class="col-sm-2">
            <span>Status</span>
        </div>
        <div class="col-sm-2">
           <span>Delete Course</span>
        </div>
    </div>
    <ng-container *ngFor="let order of orderData">
    <div class="row">
        <div class="col-sm-2">
            <img class="order-img" src="https://img3.exportersindia.com/product_images/bc-small/2022/9/4216259/text-book-1663829187-6552009.jpeg" alt="">
        </div>

        <div class="col-sm-2">
            <span>{{order.total_price}}</span>
        </div>
        <div class="col-sm-2">
            <span>In Progress</span>
        </div>
        <div class="col-sm-2">
            <button class="form-button" (click)="cancelOrder(order.order_id)">Delete</button>
        </div>
    </div>
</ng-container>
    
</div>